
body{
  background-color: rgb(178, 208, 235);
  
  margin-left: 550px;

}
.outer{
  border: 1px solid rgb(53, 34, 34);
  width: 220px;
  
}

.inputs{
  padding: 7px;
}
input{
  height: 50px;
}

.buttons-container{
  justify-content: center; 
  padding: 7px;

}
.button{
  height: 40px;
  width: 50px;
  padding: 10px 10px 10px 10px;
  margin: 4px;
}